@tailwind base;
@tailwind components;
@tailwind utilities;

/* react cursor */
html {
  --cursor-color: #4ec7e2;
  scroll-behavior: smooth;
}

html.dark-mode {
  --cursor-color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #00cfff;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  display: none;
}
